{% extends 'base.html.twig' %}
{% block title %}Wild Series{% endblock %}
{% block body %}
    <body>
    <h1 class="text-primary">{{'welcome'|trans}}!</h1>

    <p>
        <a href="{{ path('program_index') }}">
            {{'programs.list'|trans}}
        </a>
    </p>
    <p>
    <a href="{{ path('category_index') }}">
        {{'categories.list'|trans}}
    </a>
    </p>
    </body>
{% endblock %}